
.App {
  min-height: 100vh;
  background-color: #FFA07A;
  font-family: 'PT Serif', serif;
}

.title {
  color: #AE1706;
  text-align: center;
  margin-top: 0;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  outline: none;
  color: #AE1706;
  background-color: #EFE7BC;
  font-size: 20px;
}

.search-button {
  background: #AE1706;
  border: none;
  padding: 15px 20px;
  color: #EFE7BC;
  font-size: 15px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
